<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>

<body>



	<div class="login_control">


		<div id="login_Relatives">

			<div class="container">

				<label for="email">
					<b>Email</b>
				</label>
				<input type="email" name="email" id="email_R" placeholder="Enter Email" required>

				<br>

				<label for="psw">
					<b>Password</b>
				</label>
				<input type="password" name="psw" id="password_R" placeholder="Enter Password" required>

				<br>
				<br>

				<button class="btn_submit" type="button" onclick=""><b>Login</b></button>

				<div>&nbsp;</div>
				<div>&nbsp;</div>
				<div>&nbsp;</div>
				<div>&nbsp;</div>
				<div>&nbsp;</div>
				<div>&nbsp;</div>
				<div>&nbsp;</div>
			</div>
		</div>





	</div>

</body></html>